---
layout: raw_empty
---
{{> sb_subemail_header}}
{{{{raw}}}}{% block body %}{{{{/raw}}}}
<table cellpadding="0" cellspacing="0" width="100%" >
    <tr>
        <td class="padding-base-h">
            {{> sb_user}}

            <table class="spacer" cellspacing="0" cellpadding="0" width="100%">
                <tr><td height="30px" style="font-size:30px;line-height:30px;">&nbsp;</td></tr>
            </table>

            <table cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td style="text-align: left;" align="left">
                        <p class="font-base">
                            {{{{raw}}}}
                            {% blocktrans %}
                            Your order has been successfully returned and you will receive a refund of {{ totals.total_taxed|format_currency:locale_code }} immediately.
                            {% endblocktrans %}
                            {{{{/raw}}}}
                        </p>
                    </td>
                </tr>
            </table>

            <table class="spacer" cellspacing="0" cellpadding="0" width="100%">
                <tr><td height="30px" style="font-size:30px;line-height:30px;">&nbsp;</td></tr>
            </table>

            <table cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td style="text-align: left;" align="left">
                        <p class="font-base">
                            {{{{raw}}}}
                            {% blocktrans %}
                            Please note that it may take between 3-5 working days for the refund to appear on your statement.
                            {% endblocktrans %}
                            {{{{/raw}}}}
                        </p>
                    </td>
                </tr>
            </table>

            <table class="spacer" cellspacing="0" cellpadding="0" width="100%">
                <tr><td height="30px" style="font-size:30px;line-height:30px;">&nbsp;</td></tr>
            </table>

            <table cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td style="text-align: left;" align="left">
                        <p class="font-base">
                            {{{{raw}}}}
                            {% trans 'We hope to see you again soon' %},
                            {{{{/raw}}}}
                        </p>
                    </td>
                </tr>
            </table>

            <table class="spacer" cellspacing="0" cellpadding="0" width="100%">
                <tr><td height="30px" style="font-size:30px;line-height:30px;">&nbsp;</td></tr>
            </table>

            <table cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td style="text-align: left;" align="left">
                        <p class="font-base">
                            {{{{raw}}}}{% trans 'SmartBuy' %}{{{{/raw}}}}
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{{{raw}}}}{% endblock %}{{{{/raw}}}}
