// TODO tego sie nie uzywa poki co

<a href="#" class="link>
    <table cellspacing="0" cellpadding="0" width="100%" class="button">
        <tr>
            <td align="center" width="100%"
                style="padding-top: 12px; padding-bottom: 12px; background-color: #3881bf; text-align: center; width: 100%;">

                <a href="#" class="link">
                    Browse Products
                </a>
            </td>
        </tr>
    </table>
</a>

<table cellspacing="0" cellpadding="0" width="100%" class="spacer">
    <tr><td height="25px" style="font-size:25px;line-height:25px;">&nbsp;</td></tr>
</table>