<table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; font-size: 13px; background: #7f8489; color: white; margin: 0; padding: 0;">
    <tr>
        <td style="padding-right: 40px; padding-left: 40px;">

            <table cellspacing="0" cellpadding="0" width="100%" class="spacer">
                <tr><td height="35px" style="font-size:35px;line-height:35px;">&nbsp;</td></tr>
            </table>

            <table cellpadding="0" cellspacing="0" width="100%" >
                <tr>
                    <td style="letter-spacing: 3px; text-align: left" align="left">
                        <p class="font-big font-footer">{{{{raw}}}}{% trans 'SMARTBUY' %}{{{{/raw}}}}</p>
                    </td>
                </tr>
            </table>

            <table cellspacing="0" cellpadding="0" width="100%" class="spacer">
                <tr><td height="35px" style="font-size:35px;line-height:35px;">&nbsp;</td></tr>
            </table>

            <table cellpadding="0" cellspacing="0" width="100%" >
                <tr>
                    <td>
                        <a href="#" style="text-decoration: none; color: white; font-size: 14px;">
                            <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; font-size: 13px; background: #7f8489; color: white; margin: 0; padding: 0;">
                                <tr style="border-top: solid 1px #c0c0c0; font-size: 14px;">
                                    <td style="padding-top: 20px; padding-bottom: 20px; font-size: 14px; text-align: left;" align="left">
                                        <a href="#" class="link-footer">
                                            {{{{raw}}}}{% trans 'My Account' %}{{{{/raw}}}}
                                        </a>
                                    </td>
                                    <td align="right" valign="middle" class="link-footer-arrow">&gt;</td>
                                </tr>
                            </table>
                        </a>

                        <a href="#" style="text-decoration: none; color: white; font-size: 14px;">
                            <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; font-size: 13px; background: #7f8489; color: white; margin: 0; padding: 0;">
                                <tr style="border-top: solid 1px #c0c0c0; font-size: 14px;">
                                    <td style="padding-top: 20px; padding-bottom: 20px; font-size: 14px; text-align: left;" align="left">
                                        <a href="#" class="link-footer">
                                            {{{{raw}}}}{% trans 'About SmartBuy' %}{{{{/raw}}}}
                                        </a>
                                    </td>
                                    <td align="right" valign="middle" class="link-footer-arrow">&gt;</td>
                                </tr>
                            </table>
                        </a>

                        <a href="#" style="text-decoration: none; color: white; font-size: 14px;">
                            <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; font-size: 13px; background: #7f8489; color: white; margin: 0; padding: 0;">
                                <tr style="border-top: solid 1px #c0c0c0; font-size: 14px;">
                                    <td style="padding-top: 20px; padding-bottom: 20px; font-size: 14px; text-align: left;" align="left">
                                        <a href="#" class="link-footer">
                                            {{{{raw}}}}{% trans 'Terms & Conditions' %}{{{{/raw}}}}
                                        </a>
                                    </td>
                                    <td align="right" valign="middle" class="link-footer-arrow">&gt;</td>
                                </tr>
                            </table>
                        </a>

                        <a href="#" style="text-decoration: none; color: white; font-size: 14px;">
                            <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; font-size: 13px; background: #7f8489; color: white; margin: 0; padding: 0;">
                                <tr style="border-top: solid 1px #c0c0c0; border-bottom: solid 1px #c0c0c0; font-size: 14px;">
                                    <td style="padding-top: 20px; padding-bottom: 20px; font-size: 14px; text-align: left;" align="left">
                                        <a href="#" class="link-footer">
                                            {{{{raw}}}}{% trans 'Privacy Policy' %}{{{{/raw}}}}
                                        </a>
                                    </td>
                                    <td align="right" valign="middle" class="link-footer-arrow">&gt;</td>
                                </tr>
                            </table>
                        </a>
                    </td>
                </tr>
            </table>

            <table cellspacing="0" cellpadding="0" width="100%" class="spacer">
                <tr><td height="40px" style="font-size:40px;line-height:40px;">&nbsp;</td></tr>
            </table>

            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td style="color: white; font-size: 12px; text-align: left; line-height: 17px;" align="left">
                        {{{{raw}}}}
                            {% blocktrans %}
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            {% endblocktrans %}
                        {{{{/raw}}}}
                    </td>
                </tr>
            </table>

            <table cellspacing="0" cellpadding="0" width="100%" class="spacer">
                <tr><td height="50px" style="font-size:50px;line-height:50px;">&nbsp;</td></tr>
            </table>

        </td>
    </tr>
</table>