<a href="#" style="text-decoration: none; color: #3a4752; font-size: 14px; line-height: 14px;">
    <table cellspacing="0" cellpadding="0" width="100%">
        <tr>
            <td align="left" style="text-align: left; padding-top: 20px; padding-bottom: 20px;">
                <p class="font-medium">{{{{raw}}}}{% trans 'View Order Details' %}{{{{/raw}}}}</p>
            </td>
            <td align="right" valign="middle" style="text-align: right; vertical-align: middle; color: #3a4752;">&gt;</td>
        </tr>
    </table>
</a>
<a href="#" style="text-decoration: none; color: #3a4752; line-height: 14px; line-height: 14px;">
    <table cellspacing="0" cellpadding="0" width="100%">
        <tr>
            <td align="left" style="text-align: left; padding-top: 20px; padding-bottom: 20px;">
                <p class="font-medium">{{{{raw}}}}{% trans 'Returns & Cancellations' %}{{{{/raw}}}}</p>
            </td>
            <td align="right" valign="middle" style="text-align: right; vertical-align: middle; color: #3a4752;">&gt;</td>
        </tr>
    </table>
</a>