{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block head.title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% endblock %}
</head>
<body style="-moz-box-sizing: border-box; -ms-text-size-adjust: 100%; -webkit-box-sizing: border-box; -webkit-text-size-adjust: 100%; Margin: 0; background: #fafafa; box-sizing: border-box; color: #3a4752; font-family: Helvetica; margin: 0; min-width: 100%; padding: 0; width: 100% !important">
<table cellspacing="0" cellpadding="0" width="100%" class="body" style="-moz-box-sizing: border-box; -ms-text-size-adjust: 100%; -webkit-box-sizing: border-box; -webkit-text-size-adjust: 100%; Margin: 0; background: #fafafa; border-collapse: collapse; border-spacing: 0; box-sizing: border-box; color: #3a4752; font-family: Helvetica; line-height: 26px; margin: 0; min-width: 100%; padding: 0; text-align: left; vertical-align: top; width: 100% !important">
    <tr style="line-height: 26px; padding: 0; text-align: left; vertical-align: top">
        <td width="100%" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; text-align: right; vertical-align: top; width: 100%; word-wrap: break-word" align="right">

            <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; border-spacing: 0; line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                <tr style="line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                    <td width="10%" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&nbsp;</td>
                    <td width="80%" height="40px" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&nbsp;</td>
                    <td width="10%" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&nbsp;</td>
                </tr>
                <tr style="line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                    <td width="10%" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&nbsp;</td>
                    <td width="80%" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
                        <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; border-spacing: 0; line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                            <tr style="line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                                <td style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
                                    <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; border-spacing: 0; font-size: 22px; line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                                        <tr style="line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                                            <td align="left" class="font-header" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; font-size: 22px !important; hyphens: auto; letter-spacing: 2px; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
                                                {% trans 'SMARTBUY' %}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
                                    <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; border-spacing: 0; font-size: 13px; line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                                        <tr style="line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                                            <td align="right" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; padding-top: 7px; text-align: right; vertical-align: top; word-wrap: break-word">
                                                <a href="#" class="font-small" style="color: #3a4752 !important; font-size: 13px !important; text-decoration: none !important">
                                                    {% trans 'WWW.SMARTBUY.COM' %}
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="10%" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&nbsp;</td>
                </tr>
                <tr style="line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                    <td width="10%" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&nbsp;</td>
                    <td width="80%" height="40px" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&nbsp;</td>
                    <td width="10%" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&nbsp;</td>
                </tr>

                <tr style="line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                    <td width="10%" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&nbsp;</td>
                    <td width="80%" class="padding-base-v" style="-moz-hyphens: auto; -webkit-hyphens: auto; background: white; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; padding-bottom: 40px !important; padding-top: 40px !important; text-align: left; vertical-align: top; word-wrap: break-word" align="left">
                        {% block body %}{% endblock %}
                    </td>
                    <td width="10%" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&nbsp;</td>
                </tr>


                <tr style="line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                    <td width="10%" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&nbsp;</td>
                    <td width="80%" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
                        <table cellpadding="0" cellspacing="0" width="100%" style="background: #7f8489; border-collapse: collapse; border-spacing: 0; color: white; font-size: 13px; line-height: 26px; margin: 0; padding: 0; text-align: left; vertical-align: top">
                            <tr style="line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                                <td style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; padding-left: 40px; padding-right: 40px; text-align: left; vertical-align: top; word-wrap: break-word">

                                    <table cellspacing="0" cellpadding="0" width="100%" class="spacer" style="border-collapse: collapse; border-spacing: 0; line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                                        <tr style="line-height: 26px; padding: 0; text-align: left; vertical-align: top"><td height="35px" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; font-size: 35px; hyphens: auto; line-height: 35px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&nbsp;</td></tr>
                                    </table>

                                    <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; border-spacing: 0; line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                                        <tr style="line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                                            <td style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; letter-spacing: 3px; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word" align="left">
                                                <p class="font-big font-footer" style="Margin: 0 0 0 0; color: #ffffff !important; font-size: 20px !important; margin: 0 0 0 0; text-decoration: none !important">{% trans 'SMARTBUY' %}</p>
                                            </td>
                                        </tr>
                                    </table>

                                    <table cellspacing="0" cellpadding="0" width="100%" class="spacer" style="border-collapse: collapse; border-spacing: 0; line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                                        <tr style="line-height: 26px; padding: 0; text-align: left; vertical-align: top"><td height="35px" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; font-size: 35px; hyphens: auto; line-height: 35px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&nbsp;</td></tr>
                                    </table>

                                    <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; border-spacing: 0; line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                                        <tr style="line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                                            <td style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
                                                <a href="#" style="color: white; font-size: 14px; text-decoration: none !important">
                                                    <table cellpadding="0" cellspacing="0" width="100%" style="background: #7f8489; border-collapse: collapse; border-spacing: 0; color: white; font-size: 13px; line-height: 26px; margin: 0; padding: 0; text-align: left; vertical-align: top">
                                                        <tr style="border-top: solid 1px #c0c0c0; font-size: 14px; line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                                                            <td style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; font-size: 14px; hyphens: auto; line-height: 26px; padding: 0; padding-bottom: 20px; padding-top: 20px; text-align: left; vertical-align: top; word-wrap: break-word" align="left">
                                                                <a href="#" class="link-footer" style="color: white !important; font-size: 14px !important; line-height: 14px !important; text-decoration: none !important">
                                                                    {% trans 'My Account' %}
                                                                </a>
                                                            </td>
                                                            <td align="right" valign="middle" class="link-footer-arrow" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; font-size: 16px !important; hyphens: auto; line-height: 26px; padding: 0; text-align: right !important; vertical-align: middle !important; word-wrap: break-word">&gt;</td>
                                                        </tr>
                                                    </table>
                                                </a>

                                                <a href="#" style="color: white; font-size: 14px; text-decoration: none !important">
                                                    <table cellpadding="0" cellspacing="0" width="100%" style="background: #7f8489; border-collapse: collapse; border-spacing: 0; color: white; font-size: 13px; line-height: 26px; margin: 0; padding: 0; text-align: left; vertical-align: top">
                                                        <tr style="border-top: solid 1px #c0c0c0; font-size: 14px; line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                                                            <td style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; font-size: 14px; hyphens: auto; line-height: 26px; padding: 0; padding-bottom: 20px; padding-top: 20px; text-align: left; vertical-align: top; word-wrap: break-word" align="left">
                                                                <a href="#" class="link-footer" style="color: white !important; font-size: 14px !important; line-height: 14px !important; text-decoration: none !important">
                                                                    {% trans 'About SmartBuy' %}
                                                                </a>
                                                            </td>
                                                            <td align="right" valign="middle" class="link-footer-arrow" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; font-size: 16px !important; hyphens: auto; line-height: 26px; padding: 0; text-align: right !important; vertical-align: middle !important; word-wrap: break-word">&gt;</td>
                                                        </tr>
                                                    </table>
                                                </a>

                                                <a href="#" style="color: white; font-size: 14px; text-decoration: none !important">
                                                    <table cellpadding="0" cellspacing="0" width="100%" style="background: #7f8489; border-collapse: collapse; border-spacing: 0; color: white; font-size: 13px; line-height: 26px; margin: 0; padding: 0; text-align: left; vertical-align: top">
                                                        <tr style="border-top: solid 1px #c0c0c0; font-size: 14px; line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                                                            <td style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; font-size: 14px; hyphens: auto; line-height: 26px; padding: 0; padding-bottom: 20px; padding-top: 20px; text-align: left; vertical-align: top; word-wrap: break-word" align="left">
                                                                <a href="#" class="link-footer" style="color: white !important; font-size: 14px !important; line-height: 14px !important; text-decoration: none !important">
                                                                    {% trans 'Terms & Conditions' %}
                                                                </a>
                                                            </td>
                                                            <td align="right" valign="middle" class="link-footer-arrow" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; font-size: 16px !important; hyphens: auto; line-height: 26px; padding: 0; text-align: right !important; vertical-align: middle !important; word-wrap: break-word">&gt;</td>
                                                        </tr>
                                                    </table>
                                                </a>

                                                <a href="#" style="color: white; font-size: 14px; text-decoration: none !important">
                                                    <table cellpadding="0" cellspacing="0" width="100%" style="background: #7f8489; border-collapse: collapse; border-spacing: 0; color: white; font-size: 13px; line-height: 26px; margin: 0; padding: 0; text-align: left; vertical-align: top">
                                                        <tr style="border-bottom: solid 1px #c0c0c0; border-top: solid 1px #c0c0c0; font-size: 14px; line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                                                            <td style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; font-size: 14px; hyphens: auto; line-height: 26px; padding: 0; padding-bottom: 20px; padding-top: 20px; text-align: left; vertical-align: top; word-wrap: break-word" align="left">
                                                                <a href="#" class="link-footer" style="color: white !important; font-size: 14px !important; line-height: 14px !important; text-decoration: none !important">
                                                                    {% trans 'Privacy Policy' %}
                                                                </a>
                                                            </td>
                                                            <td align="right" valign="middle" class="link-footer-arrow" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; font-size: 16px !important; hyphens: auto; line-height: 26px; padding: 0; text-align: right !important; vertical-align: middle !important; word-wrap: break-word">&gt;</td>
                                                        </tr>
                                                    </table>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>

                                    <table cellspacing="0" cellpadding="0" width="100%" class="spacer" style="border-collapse: collapse; border-spacing: 0; line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                                        <tr style="line-height: 26px; padding: 0; text-align: left; vertical-align: top"><td height="40px" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; font-size: 40px; hyphens: auto; line-height: 40px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&nbsp;</td></tr>
                                    </table>

                                    <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; border-spacing: 0; line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                                        <tr style="line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                                            <td style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: white; font-size: 12px; hyphens: auto; line-height: 17px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word" align="left">
                                                {% blocktrans %}
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                {% endblocktrans %}
                                            </td>
                                        </tr>
                                    </table>

                                    <table cellspacing="0" cellpadding="0" width="100%" class="spacer" style="border-collapse: collapse; border-spacing: 0; line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                                        <tr style="line-height: 26px; padding: 0; text-align: left; vertical-align: top"><td height="50px" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; font-size: 50px; hyphens: auto; line-height: 50px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&nbsp;</td></tr>
                                    </table>

                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="10%" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&nbsp;</td>
                </tr>

                <tr style="line-height: 26px; padding: 0; text-align: left; vertical-align: top">
                    <td width="10%" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&nbsp;</td>
                    <td width="80%" height="90px" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&nbsp;</td>
                    <td width="10%" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; hyphens: auto; line-height: 26px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&nbsp;</td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>
