<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="css/app.css">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--<link href='./HelveticaNeue-Light.otf' rel='stylesheet' type='text/css' />-->
    <style type="text/css" media="all">
        /*@font-face {*/
            /*font-family: 'Helvetica Neue Light';*/
            /*src: url('./HelveticaNeue-Light.otf');*/
        /*}*/
    </style>
</head>
<body style="background: #fafafa; color: #3a4752; margin: 0; padding: 0; font-family: Helvetica; width: 100%;">
<table cellspacing="0" cellpadding="0" width="100%"
       style="background: #fafafa; color: #3a4752; font-family: Helvetica; width: 100%">
    <tr>
        <td width="100%" style="width: 100%; text-align: right;" align="right">

            <!-- CONTAINER -->
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td width="10%">&nbsp;</td>
                    <td width="80%" height="40px">&nbsp;</td>
                    <td width="10%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="10%">&nbsp;</td>
                    <td width="80%">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; font-size: 22px;">
                                        <tr>
                                            <td align="left" style="letter-spacing: 2px; text-align: left;">
                                                SMARTBUY
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; font-size: 13px">
                                        <tr>
                                            <td align="right" style="padding-top:7px; text-align: right;">
                                                <a href="http://www.smartbuy.com" style="color: #3a4752; text-decoration: none;">WWW.SMARTBUY.COM</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="10%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="10%">&nbsp;</td>
                    <td width="80%" height="40px">&nbsp;</td>
                    <td width="10%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="10%">&nbsp;</td>
                    <td width="80%" style="padding-left: 40px; padding-right: 40px; background: white; text-align: left;" align="left">
                        {{> body}}
                    </td>
                    <td width="10%">&nbsp;</td>
                </tr>

                <!-- FOOTER -->
                <tr>
                    <td width="10%">&nbsp;</td>
                    <td width="80%">
                        {{> sb_footer}}
                    </td>
                    <td width="10%">&nbsp;</td>
                </tr>
                <!-- END FOOTER -->
                <tr>
                    <td width="10%">&nbsp;</td>
                    <td width="80%" height="90px">&nbsp;</td>
                    <td width="10%">&nbsp;</td>
                </tr>
            </table>

            <!-- END CONTAINER -->
        </td>
    </tr>
</table>
</body>
</html>
